@import "tailwindcss";

@layer base {
  * {
    @apply font-extralight text-xl;
  }

  h1 {
    @apply text-8xl;
  }

  li {
    @apply hover:text-pink-300;
  }
}
/* @keyframes progress {
  from {
    width: 0;
  }
  to {
    width: var(--percentage);
  }
} */

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--percentage);
  }
}

.skill-bar-fill {
  animation: fillBar 1.5s ease-out forwards;
}

h1 {
  font-family: 'Great Vibes';
  font-weight: 500;
  

}
.progress-bar {
  animation: progress 1s ease-in-out forwards;
}

@theme {
  --main-color: oklch(0.718 0.202 349.761);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  color-scheme: light;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
